/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-bg-zag-left-name: 's-bg_zag_left';
$s-bg-zag-left-x: 82px;
$s-bg-zag-left-y: 112px;
$s-bg-zag-left-offset-x: -82px;
$s-bg-zag-left-offset-y: -112px;
$s-bg-zag-left-width: 80px;
$s-bg-zag-left-height: 19px;
$s-bg-zag-left-total-width: 342px;
$s-bg-zag-left-total-height: 290px;
$s-bg-zag-left-image: '../img/sprite.png';
$s-bg-zag-left: (82px, 112px, -82px, -112px, 80px, 19px, 342px, 290px, '../img/sprite.png', 's-bg_zag_left', );
$s-bg-zag-right-name: 's-bg_zag_right';
$s-bg-zag-right-x: 262px;
$s-bg-zag-right-y: 0px;
$s-bg-zag-right-offset-x: -262px;
$s-bg-zag-right-offset-y: 0px;
$s-bg-zag-right-width: 80px;
$s-bg-zag-right-height: 19px;
$s-bg-zag-right-total-width: 342px;
$s-bg-zag-right-total-height: 290px;
$s-bg-zag-right-image: '../img/sprite.png';
$s-bg-zag-right: (262px, 0px, -262px, 0px, 80px, 19px, 342px, 290px, '../img/sprite.png', 's-bg_zag_right', );
$s-checkbox-name: 's-checkbox';
$s-checkbox-x: 317px;
$s-checkbox-y: 201px;
$s-checkbox-offset-x: -317px;
$s-checkbox-offset-y: -201px;
$s-checkbox-width: 12px;
$s-checkbox-height: 13px;
$s-checkbox-total-width: 342px;
$s-checkbox-total-height: 290px;
$s-checkbox-image: '../img/sprite.png';
$s-checkbox: (317px, 201px, -317px, -201px, 12px, 13px, 342px, 290px, '../img/sprite.png', 's-checkbox', );
$s-form-phone-name: 's-form-phone';
$s-form-phone-x: 318px;
$s-form-phone-y: 148px;
$s-form-phone-offset-x: -318px;
$s-form-phone-offset-y: -148px;
$s-form-phone-width: 11px;
$s-form-phone-height: 15px;
$s-form-phone-total-width: 342px;
$s-form-phone-total-height: 290px;
$s-form-phone-image: '../img/sprite.png';
$s-form-phone: (318px, 148px, -318px, -148px, 11px, 15px, 342px, 290px, '../img/sprite.png', 's-form-phone', );
$s-human-name: 's-human';
$s-human-x: 320px;
$s-human-y: 95px;
$s-human-offset-x: -320px;
$s-human-offset-y: -95px;
$s-human-width: 13px;
$s-human-height: 14px;
$s-human-total-width: 342px;
$s-human-total-height: 290px;
$s-human-image: '../img/sprite.png';
$s-human: (320px, 95px, -320px, -95px, 13px, 14px, 342px, 290px, '../img/sprite.png', 's-human', );
$s-left-name: 's-left';
$s-left-x: 192px;
$s-left-y: 0px;
$s-left-offset-x: -192px;
$s-left-offset-y: 0px;
$s-left-width: 50px;
$s-left-height: 50px;
$s-left-total-width: 342px;
$s-left-total-height: 290px;
$s-left-image: '../img/sprite.png';
$s-left: (192px, 0px, -192px, 0px, 50px, 50px, 342px, 290px, '../img/sprite.png', 's-left', );
$s-left-fancy-name: 's-left_fancy';
$s-left-fancy-x: 0px;
$s-left-fancy-y: 0px;
$s-left-fancy-offset-x: 0px;
$s-left-fancy-offset-y: 0px;
$s-left-fancy-width: 35px;
$s-left-fancy-height: 92px;
$s-left-fancy-total-width: 342px;
$s-left-fancy-total-height: 290px;
$s-left-fancy-image: '../img/sprite.png';
$s-left-fancy: (0px, 0px, 0px, 0px, 35px, 92px, 342px, 290px, '../img/sprite.png', 's-left_fancy', );
$s-li-name: 's-li';
$s-li-x: 226px;
$s-li-y: 140px;
$s-li-offset-x: -226px;
$s-li-offset-y: -140px;
$s-li-width: 4px;
$s-li-height: 5px;
$s-li-total-width: 342px;
$s-li-total-height: 290px;
$s-li-image: '../img/sprite.png';
$s-li: (226px, 140px, -226px, -140px, 4px, 5px, 342px, 290px, '../img/sprite.png', 's-li', );
$s-phone-name: 's-phone';
$s-phone-x: 318px;
$s-phone-y: 39px;
$s-phone-offset-x: -318px;
$s-phone-offset-y: -39px;
$s-phone-width: 16px;
$s-phone-height: 23px;
$s-phone-total-width: 342px;
$s-phone-total-height: 290px;
$s-phone-image: '../img/sprite.png';
$s-phone: (318px, 39px, -318px, -39px, 16px, 23px, 342px, 290px, '../img/sprite.png', 's-phone', );
$s-play-name: 's-play';
$s-play-x: 262px;
$s-play-y: 39px;
$s-play-offset-x: -262px;
$s-play-offset-y: -39px;
$s-play-width: 36px;
$s-play-height: 36px;
$s-play-total-width: 342px;
$s-play-total-height: 290px;
$s-play-image: '../img/sprite.png';
$s-play: (262px, 39px, -262px, -39px, 36px, 36px, 342px, 290px, '../img/sprite.png', 's-play', );
$s-preimuchestva-1-name: 's-preimuchestva-1';
$s-preimuchestva-1-x: 262px;
$s-preimuchestva-1-y: 148px;
$s-preimuchestva-1-offset-x: -262px;
$s-preimuchestva-1-offset-y: -148px;
$s-preimuchestva-1-width: 36px;
$s-preimuchestva-1-height: 33px;
$s-preimuchestva-1-total-width: 342px;
$s-preimuchestva-1-total-height: 290px;
$s-preimuchestva-1-image: '../img/sprite.png';
$s-preimuchestva-1: (262px, 148px, -262px, -148px, 36px, 33px, 342px, 290px, '../img/sprite.png', 's-preimuchestva-1', );
$s-preimuchestva-2-name: 's-preimuchestva-2';
$s-preimuchestva-2-x: 262px;
$s-preimuchestva-2-y: 95px;
$s-preimuchestva-2-offset-x: -262px;
$s-preimuchestva-2-offset-y: -95px;
$s-preimuchestva-2-width: 38px;
$s-preimuchestva-2-height: 33px;
$s-preimuchestva-2-total-width: 342px;
$s-preimuchestva-2-total-height: 290px;
$s-preimuchestva-2-image: '../img/sprite.png';
$s-preimuchestva-2: (262px, 95px, -262px, -95px, 38px, 33px, 342px, 290px, '../img/sprite.png', 's-preimuchestva-2', );
$s-preimuchestva-3-name: 's-preimuchestva-3';
$s-preimuchestva-3-x: 0px;
$s-preimuchestva-3-y: 257px;
$s-preimuchestva-3-offset-x: 0px;
$s-preimuchestva-3-offset-y: -257px;
$s-preimuchestva-3-width: 35px;
$s-preimuchestva-3-height: 33px;
$s-preimuchestva-3-total-width: 342px;
$s-preimuchestva-3-total-height: 290px;
$s-preimuchestva-3-image: '../img/sprite.png';
$s-preimuchestva-3: (0px, 257px, 0px, -257px, 35px, 33px, 342px, 290px, '../img/sprite.png', 's-preimuchestva-3', );
$s-preimuchestva-4-name: 's-preimuchestva-4';
$s-preimuchestva-4-x: 55px;
$s-preimuchestva-4-y: 257px;
$s-preimuchestva-4-offset-x: -55px;
$s-preimuchestva-4-offset-y: -257px;
$s-preimuchestva-4-width: 34px;
$s-preimuchestva-4-height: 33px;
$s-preimuchestva-4-total-width: 342px;
$s-preimuchestva-4-total-height: 290px;
$s-preimuchestva-4-image: '../img/sprite.png';
$s-preimuchestva-4: (55px, 257px, -55px, -257px, 34px, 33px, 342px, 290px, '../img/sprite.png', 's-preimuchestva-4', );
$s-preimuchestva-5-name: 's-preimuchestva-5';
$s-preimuchestva-5-x: 109px;
$s-preimuchestva-5-y: 257px;
$s-preimuchestva-5-offset-x: -109px;
$s-preimuchestva-5-offset-y: -257px;
$s-preimuchestva-5-width: 33px;
$s-preimuchestva-5-height: 33px;
$s-preimuchestva-5-total-width: 342px;
$s-preimuchestva-5-total-height: 290px;
$s-preimuchestva-5-image: '../img/sprite.png';
$s-preimuchestva-5: (109px, 257px, -109px, -257px, 33px, 33px, 342px, 290px, '../img/sprite.png', 's-preimuchestva-5', );
$s-preimuchestva-6-name: 's-preimuchestva-6';
$s-preimuchestva-6-x: 262px;
$s-preimuchestva-6-y: 201px;
$s-preimuchestva-6-offset-x: -262px;
$s-preimuchestva-6-offset-y: -201px;
$s-preimuchestva-6-width: 35px;
$s-preimuchestva-6-height: 33px;
$s-preimuchestva-6-total-width: 342px;
$s-preimuchestva-6-total-height: 290px;
$s-preimuchestva-6-image: '../img/sprite.png';
$s-preimuchestva-6: (262px, 201px, -262px, -201px, 35px, 33px, 342px, 290px, '../img/sprite.png', 's-preimuchestva-6', );
$s-preimuchestva-7-name: 's-preimuchestva-7';
$s-preimuchestva-7-x: 110px;
$s-preimuchestva-7-y: 63px;
$s-preimuchestva-7-offset-x: -110px;
$s-preimuchestva-7-offset-y: -63px;
$s-preimuchestva-7-width: 43px;
$s-preimuchestva-7-height: 24px;
$s-preimuchestva-7-total-width: 342px;
$s-preimuchestva-7-total-height: 290px;
$s-preimuchestva-7-image: '../img/sprite.png';
$s-preimuchestva-7: (110px, 63px, -110px, -63px, 43px, 24px, 342px, 290px, '../img/sprite.png', 's-preimuchestva-7', );
$s-preimuchestva-8-name: 's-preimuchestva-8';
$s-preimuchestva-8-x: 162px;
$s-preimuchestva-8-y: 257px;
$s-preimuchestva-8-offset-x: -162px;
$s-preimuchestva-8-offset-y: -257px;
$s-preimuchestva-8-width: 29px;
$s-preimuchestva-8-height: 33px;
$s-preimuchestva-8-total-width: 342px;
$s-preimuchestva-8-total-height: 290px;
$s-preimuchestva-8-image: '../img/sprite.png';
$s-preimuchestva-8: (162px, 257px, -162px, -257px, 29px, 33px, 342px, 290px, '../img/sprite.png', 's-preimuchestva-8', );
$s-preimuchestva-9-name: 's-preimuchestva-9';
$s-preimuchestva-9-x: 211px;
$s-preimuchestva-9-y: 257px;
$s-preimuchestva-9-offset-x: -211px;
$s-preimuchestva-9-offset-y: -257px;
$s-preimuchestva-9-width: 26px;
$s-preimuchestva-9-height: 33px;
$s-preimuchestva-9-total-width: 342px;
$s-preimuchestva-9-total-height: 290px;
$s-preimuchestva-9-image: '../img/sprite.png';
$s-preimuchestva-9: (211px, 257px, -211px, -257px, 26px, 33px, 342px, 290px, '../img/sprite.png', 's-preimuchestva-9', );
$s-procedure-li-name: 's-procedure_li';
$s-procedure-li-x: 192px;
$s-procedure-li-y: 140px;
$s-procedure-li-offset-x: -192px;
$s-procedure-li-offset-y: -140px;
$s-procedure-li-width: 14px;
$s-procedure-li-height: 11px;
$s-procedure-li-total-width: 342px;
$s-procedure-li-total-height: 290px;
$s-procedure-li-image: '../img/sprite.png';
$s-procedure-li: (192px, 140px, -192px, -140px, 14px, 11px, 342px, 290px, '../img/sprite.png', 's-procedure_li', );
$s-rakushka-name: 's-rakushka';
$s-rakushka-x: 0px;
$s-rakushka-y: 112px;
$s-rakushka-offset-x: 0px;
$s-rakushka-offset-y: -112px;
$s-rakushka-width: 62px;
$s-rakushka-height: 43px;
$s-rakushka-total-width: 342px;
$s-rakushka-total-height: 290px;
$s-rakushka-image: '../img/sprite.png';
$s-rakushka: (0px, 112px, 0px, -112px, 62px, 43px, 342px, 290px, '../img/sprite.png', 's-rakushka', );
$s-rakushka-hover-name: 's-rakushka_hover';
$s-rakushka-hover-x: 110px;
$s-rakushka-hover-y: 0px;
$s-rakushka-hover-offset-x: -110px;
$s-rakushka-hover-offset-y: 0px;
$s-rakushka-hover-width: 62px;
$s-rakushka-hover-height: 43px;
$s-rakushka-hover-total-width: 342px;
$s-rakushka-hover-total-height: 290px;
$s-rakushka-hover-image: '../img/sprite.png';
$s-rakushka-hover: (110px, 0px, -110px, 0px, 62px, 43px, 342px, 290px, '../img/sprite.png', 's-rakushka_hover', );
$s-right-name: 's-right';
$s-right-x: 192px;
$s-right-y: 70px;
$s-right-offset-x: -192px;
$s-right-offset-y: -70px;
$s-right-width: 50px;
$s-right-height: 50px;
$s-right-total-width: 342px;
$s-right-total-height: 290px;
$s-right-image: '../img/sprite.png';
$s-right: (192px, 70px, -192px, -70px, 50px, 50px, 342px, 290px, '../img/sprite.png', 's-right', );
$s-right-fancy-name: 's-right_fancy';
$s-right-fancy-x: 55px;
$s-right-fancy-y: 0px;
$s-right-fancy-offset-x: -55px;
$s-right-fancy-offset-y: 0px;
$s-right-fancy-width: 35px;
$s-right-fancy-height: 92px;
$s-right-fancy-total-width: 342px;
$s-right-fancy-total-height: 290px;
$s-right-fancy-image: '../img/sprite.png';
$s-right-fancy: (55px, 0px, -55px, 0px, 35px, 92px, 342px, 290px, '../img/sprite.png', 's-right_fancy', );
$s-vodorosli-name: 's-vodorosli';
$s-vodorosli-x: 59px;
$s-vodorosli-y: 175px;
$s-vodorosli-offset-x: -59px;
$s-vodorosli-offset-y: -175px;
$s-vodorosli-width: 39px;
$s-vodorosli-height: 62px;
$s-vodorosli-total-width: 342px;
$s-vodorosli-total-height: 290px;
$s-vodorosli-image: '../img/sprite.png';
$s-vodorosli: (59px, 175px, -59px, -175px, 39px, 62px, 342px, 290px, '../img/sprite.png', 's-vodorosli', );
$s-vodorosli-hover-name: 's-vodorosli_hover';
$s-vodorosli-hover-x: 0px;
$s-vodorosli-hover-y: 175px;
$s-vodorosli-hover-offset-x: 0px;
$s-vodorosli-hover-offset-y: -175px;
$s-vodorosli-hover-width: 39px;
$s-vodorosli-hover-height: 62px;
$s-vodorosli-hover-total-width: 342px;
$s-vodorosli-hover-total-height: 290px;
$s-vodorosli-hover-image: '../img/sprite.png';
$s-vodorosli-hover: (0px, 175px, 0px, -175px, 39px, 62px, 342px, 290px, '../img/sprite.png', 's-vodorosli_hover', );
$s-zvesda-name: 's-zvesda';
$s-zvesda-x: 187px;
$s-zvesda-y: 175px;
$s-zvesda-offset-x: -187px;
$s-zvesda-offset-y: -175px;
$s-zvesda-width: 49px;
$s-zvesda-height: 50px;
$s-zvesda-total-width: 342px;
$s-zvesda-total-height: 290px;
$s-zvesda-image: '../img/sprite.png';
$s-zvesda: (187px, 175px, -187px, -175px, 49px, 50px, 342px, 290px, '../img/sprite.png', 's-zvesda', );
$s-zvesda-hover-name: 's-zvesda_hover';
$s-zvesda-hover-x: 118px;
$s-zvesda-hover-y: 175px;
$s-zvesda-hover-offset-x: -118px;
$s-zvesda-hover-offset-y: -175px;
$s-zvesda-hover-width: 49px;
$s-zvesda-hover-height: 50px;
$s-zvesda-hover-total-width: 342px;
$s-zvesda-hover-total-height: 290px;
$s-zvesda-hover-image: '../img/sprite.png';
$s-zvesda-hover: (118px, 175px, -118px, -175px, 49px, 50px, 342px, 290px, '../img/sprite.png', 's-zvesda_hover', );
$spritesheet-width: 342px;
$spritesheet-height: 290px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($s-bg-zag-left, $s-bg-zag-right, $s-checkbox, $s-form-phone, $s-human, $s-left, $s-left-fancy, $s-li, $s-phone, $s-play, $s-preimuchestva-1, $s-preimuchestva-2, $s-preimuchestva-3, $s-preimuchestva-4, $s-preimuchestva-5, $s-preimuchestva-6, $s-preimuchestva-7, $s-preimuchestva-8, $s-preimuchestva-9, $s-procedure-li, $s-rakushka, $s-rakushka-hover, $s-right, $s-right-fancy, $s-vodorosli, $s-vodorosli-hover, $s-zvesda, $s-zvesda-hover, );
$spritesheet: (342px, 290px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
