@import "../bower/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "_sprite.scss";
@import "_fonts.scss";

// Template style
html {
	position: relative;
	min-height: 100%;
}
.bx-wrapper {
	background: none;
	border: none;
	box-shadow: none;
}
stong, b {
	font-weight: bold;
}
.wrap_error {
	border: 1px solid red;
	color: red;
	display: none;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding: 5px 0;
	text-align: center;
}
a {
	&:active, &:focus {
		outline: none;
		text-decoration: none;
	}
}
.zag_text_bottom {
	color: #1D619D;
	font: 24px "robotocondensedregular";
	margin: -43px 0 0;
	text-align: center;
}
.toggle_mnu {
	background: none;
	display: none;
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 100;
	border: none;
	left: 20px;
	top: 5px;
	z-index: 9999;
	span {
		display: block; 
	}
	.sandwich {
		width: 28px;
		height: 28px;
		position: absolute;
		top: 8px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 200;
		&.active .sw-topper {
			top: 9px;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		&.active .sw-bottom {
			top: 6px;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&.active .sw-footer {
			opacity: 0;
			top: 0;
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		.sw-topper {
			position: relative;
			top: 0;
			width: 28px;
			height: 3px;
			background: white;
			border: none;
			border-radius: 4px 4px 4px 4px;
			-webkit-transition: -webkit-transform 0.5s, top 0.2s;
			transition: transform 0.5s, top 0.2s;
			display: block; 
		}
		.sw-bottom {
			position: relative;
			width: 28px;
			height: 3px;
			top: 6.6px;
			background: white;
			border: none;
			border-radius: 4px 4px 4px 4px;
			-webkit-transition: -webkit-transform 0.5s, top 0.2s;
			transition: transform 0.5s, top 0.2s;
			-webkit-transition-delay: 0.2s, 0s;
			transition-delay: 0.2s, 0s;
		}
		.sw-footer {
			position: relative;
			width: 28px;
			height: 3px;
			top: 13.5px;
			background: white;
			border: none;
			border-radius: 4px 4px 4px 4px;
			-webkit-transition: all 0.5s;
			transition: all 0.5s;
			-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;
		}
	}
}
.large {
	text-transform: uppercase;
}
.big {
	font: 36px "robotocondensedregular";
}
.form-row {
	position: relative;
	.first_name {
		@include sprite($s-human);
		display: block;
		position: absolute;
		top: 10px;
		left: 21px;
	}
	.phone {
		@include sprite($s-form-phone);
		display: block;
		position: absolute;
		top: 10px;
		left: 18px;
	}
}
input[type=text] {
	background-color: #FFF;
	border: 1px solid #1D629D;
	border-radius: 2px;
	color: #656565;
	font: 14px "robotocondenseditalic";
	padding: 8px;
	width: 100%;
	&.error {
		color: inherit;
		border: 1px solid red !important;
	}
}
.selecter {
	max-width: 70%;
	.selecter-selected {
		border: 1px solid #1d629d;
		border-radius: 0;
		color: #272727;
		font: 14px "robotocondensedregular";
		padding: 5px 15px;
		&::after {
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid #1d629d;
		}
	}
}
.jq-checkbox {
	border: 1px solid #1d629d;
	border-radius: 0;
	box-shadow: none;
	height: 30px;
	width: 30px;
	&.checked {
		.jq-checkbox__div {
			background-color: #fff;
			border-radius: none;
			box-shadow: none;
			@include sprite($s-checkbox);
			margin: 8px 0 0 8px;
		}
	}
}
.btn {
	background-color: #F9AF01;
	border: none;
	border-radius: 2px;
	color: #272727;
	font: 18px "robotoboldcondensed";
	text-transform: uppercase;
	padding: 9px;
	width: 100%;
}
.zag, .price {
	color: #1D619D;
	font: 18px "robotocondensedregular";
	text-transform: uppercase;
}
.navigation {
	height: 50px;
	background-color: #0B497F;
}
.main-menu {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			a {
				color: #fff;
				font: 14px "robotocondensedregular";
				display: block;
				line-height: 50px;
				padding: 0 45px;
				text-transform: uppercase;
				&:hover, &.active {
					background: #F9AF01;
					text-decoration: none;
				}
			}
		}
	}
}
.mobil {
	display: none;
}
.contact {
	text-align: right;
	p {
		margin: 0;
		a {
			color: #1D619D;
			font-family: "robotocondensedregular";
			font-size: 14px;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.phone {
		color: #272727;
		font: 19px "robotoboldcondensed";
		margin: 29px 0 2px 0;
		i {
			@include sprite($s-phone);
			display: inline-block;
			margin: 0 15px -5px 0;
		}
	}
}
.head_center {
	.logo {
		margin: 21px 0 0 0;
	}
	h1 {
		color: #1D619D;
		font-family: "robotoboldcondensed";
		font-size: 36px;
		margin: 21px 0 18px 0;
		text-align: center;
		text-transform: uppercase;
	}

}
.head_bottom {
	background: rgba(255,255,255, 0.8);
	padding-top: 7px;
	padding-bottom: 9px;
	position: relative;
	.container {
		width: 745px;
	}
}
.service {
	img {
		display: inline-block;
		margin: -20px 24px 0 0;
	}
	p {
		font: 14px "robotoboldcondensed";
		display: inline-block;
		width: 80px;
	}
}
.first {
	background: url("../img/bg_first.jpg") no-repeat top center;
	height: 575px;
	margin: -78px 0 0 0;
	padding: 104px 0 0 0;
}
.form-first {
	width: 418px;
	height: 443px;
	background: url("../img/bg_form_first.gif");
	box-shadow: 0 2px 9.3px 0.7px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	padding: 35px 25px;
	h2 {
		color: #272727;
		font-family: "robotocondensedregular";
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 21px 0;
		white-space: normal;
		&::before, &::after {
			display: none;
		}
		span {
			font-family: "robotoboldcondensed";
			text-transform: uppercase;
			color: #1D619D;
		}
	}
	ul {
		margin: 0 auto 28px;
		width: 55%;
		li {
			color: #272727;
			font-family: "robotocondensedregular";
			font-size: 16px;
			text-transform: uppercase;
		}
	}
	input[type=text] {
		margin: 0 0 9px 0;
		padding-left: 50px;
	}
	input[type=submit] {
		margin: 14px 0 0;
	}
}
.guarantees {
	background: url("../img/bg_guarantees.jpg") repeat-x;
	padding: 45px 0 37px 0;
	img {
		display: inline-block;
		margin: -25px 22px 0 0;
	}
	p {
		display: inline-block;
		color: #1D619D;
		font: 16px "robotoboldcondensed";
		text-transform: uppercase;
		width: 175px;
	}
}
.product_item {
	background: #e2e2e2;
	margin: 0 0 40px 0;
	padding: 9px 7px;
	position: relative;
	.product-slider-wrap {
		height: 315px;
		overflow: hidden;
	}
	.product-slider {
		float: left;
		height: 260px;
		overflow: hidden;
		width: 325px;
		img {
			display: block;
			max-height: 100%;
		}
	}
	.product-slider-pager {
		float: right;
		height: 260px;
		overflow: hidden;
		width: 102px;
		a {
			background: #fff;
			border: 1px solid #4079a9;
			display: block;
			height: 80px;
			margin: 0 0 10px 0;
			overflow: hidden;
			width: 102px;
			img {
				display: block;
				margin: 0 auto;
				max-width: 100%;
			}
		}
	}
	.desc {
		background: #1d629d;
		height: 53px;
		width:100%;
		padding: 7px 0 0 0;
		position: absolute;
		bottom: 0;
		left: 0;
		p {
			color: #fff;
			font: 13px "robotocondensedregular";
			margin: 0 0 0 30px;
			span {
				text-transform: uppercase;
			}
		}
	}
}
section {
	h2 {
		color: #1D619D;
		font: 36px "robotoboldcondensed";
		text-align: center;
		text-transform: uppercase;
		position: relative;
		overflow: hidden;
		white-space: nowrap;
		padding: .2em 0;
		&:before, &:after {
			content: "";
			position: relative;
			display: inline-block;
			width: 50%;
			height: 2px;
			
			vertical-align: middle;
		}
		&:before {    
			@include sprite($s-bg_zag_left);
			left: -.5em;
			margin: 0 0 0 -50%;
			}
		&:after {
			@include sprite($s-bg_zag_right);
			left: .5em;
			margin: 0 -50% 0 0;
			}
		&>span {
			display: inline-block;
			vertical-align: middle;
			white-space: normal;
		}
	}
}
.breadcrumbs {
	line-height: 40px;
	list-style: none;
	margin: 0 auto 60px;
	overflow: hidden;
	padding: 0;
	width: 85%;
	li {
		float: left;
		&.ui-tabs-active {
			a {
				background: #1d629d;
				color: #fff;
				text-decoration: none;
			}
		}
		a {
			color: #272727;
			font: 14px "robotocondensedregular";
			padding: 10px 20px;
			text-transform: uppercase;
			&:hover {
				background: #1d629d;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
.pager {
	margin: 19px auto 117px;
	text-align: center;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			margin: 0 17px 0 0;
			a, span {
				background-color: #fff;
				border: 1px solid #1D619D;
				color: #1D619D;
				display: block;
				font: 18px "robotocondensedregular";
				padding: 2px 10px;
				&:hover {
					background: #1D619D;
					color: #fff;
					text-decoration: none;
				}
			}
			span {
				background: #1D619D;
				color: #fff;
				text-decoration: none;
			}
			&:last-child, &:first-child {
				a {
					background: #1D619D;
					color: #fff;
					text-decoration: none;
					&:hover {
						background-color: #fff;
						border: 1px solid #1D619D;
						color: #1D619D;
						display: block;
					}
				}
			}
			&.active {
				a {
					background: #1D619D;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}
.calcu {
	.small {
		width: 820px;
		.selecter {
			margin: 10px auto 38px;
			max-width: 87%;
		}
		label {
			color: #272727;
			font: 14px "robotocondensedregular";
			margin: 0 0 0 15px;
		}
		.label {
			margin: 0;
			text-transform: uppercase;
		}
	}
	.bottom-o {
		margin: 0 auto 60px;
	}
	.bg_blue {
		background: #1d629d;
		margin: 0 auto 57px;
		padding: 27px 44px 18px;
		p {
			color: #fff;
			font: 24px "robotocondensedregular";
			margin: 0;
			text-transform: uppercase;
			span {
				font: 24px "robotoboldcondensed";
				text-transform: normal;
			}
		}
		input[type=text] {
			border-radius: 2px;
			border: none;
			margin: 0 0 9px 0;
			padding-left: 50px;
		}
		.btn {
			padding: 6px 9px;
		}
	}
}
.form_dop {
	background: url("../img/bg_form.jpg") repeat-x;
	padding: 0 0 33px;
	.wrap_img {
		margin: 40px 0 0 0;
	}
	.large_ot {
		padding-left: 81px;
		padding-right: 81px;
	}
	h3 {
		color: #fff;
		font: 24px "robotoboldcondensed";
		margin: 35px 0 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.form_zag {
		font: 24px/24px "robotocondensedregular";
		margin-bottom: 20px;
		text-transform: none;
		span {
			display: block;
			font: 24px "robotoboldcondensed";
			margin: 0 0 -4px;
			text-transform: uppercase;
		}
	}
	ul {
		color: #fff;
		font: 18px "robotocondensedregular";
		list-style: none;
		margin: 0 auto 40px;
		overflow: hidden;
		width: 61%;
		text-transform: uppercase;
		li {
			float: left;
			margin: 0 0 0 29px;
			position: relative;
			&::before {
				@include sprite($s-li);
				content: " ";
				left: -8px;
				position: absolute;
				top: 10px;
			}
		}
	}
	input[type=text] {
		border-radius: 2px;
		border: none;
		margin: 0 0 9px 0;
		padding-left: 50px;
	}
	.btn {
		padding: 6px 9px;
	}
}
.ak-order {
	background: url("../img/bg_ak_order.jpg");
	padding: 0 0 71px;
	h2 {
		margin-bottom: 84px;
	}
	.ul_blue {
		color: #1D619D;
		font: 24px/36px "robotocondensedregular";
		list-style-image: url("../img/ul_blue_li.png");
		margin: 52px 0 0;
		text-transform: uppercase;
		& ul {
			color: #272727;
			font-size: 14px;
			line-height: 21px;
			list-style: none;
			margin: 15px 0 0;
			text-transform: none;
			li {
				position: relative;
				&::after {
					background: url("../img/ul_blue_ul.png") no-repeat;
					content: " ";
					height: 3px;
					position: absolute;
					top: 8px;
					left: -8px;
					width: 4px;
				}
			}
		}
	}
	.product_item {
		background: #fff;
	}
}
.too_collums {
	padding: 0;
	.wrap_img {
		margin-bottom: 19px;
	}
	.form-row {
		margin: 0 auto;
		width: 302px;
		.selecter {
			max-width: 100%;
			.selecter-selected {
				border: none;
				border-radius: 2px;
				color: #21659F;
				font: 14px "robotocondensedregular";
				text-transform: uppercase;
				padding: 7px 15px;
			}
		}
		.btn {
			margin-top: 15px;
		}
	}
}
.oformlenie {
	.navig {
		margin: 0 auto 58px;
		a {
			color: #272727;
			display: block;
			font: 16px "robotocondensedregular";
			height: 82px;
			margin: 0 auto;
			text-align: center;
			text-transform: uppercase;
			width: 45%;
			i {
				display: block;
				margin: 0 auto;
			}
			&:hover, &.active {
				color: #1D619D;
				text-decoration: underline;
				.link_1 {
					@include sprite($s-vodorosli_hover);
				}
				.link_2 {
					@include sprite($s-rakushka_hover);
				}
				.link_3 {
					@include sprite($s-zvesda_hover);
				}
			}
		}
		.link_1 {
			@include sprite($s-vodorosli);
			margin-bottom: 3px;
		}
		.link_2 {
			@include sprite($s-rakushka);
			margin: 11px auto;
		}
		.link_3 {
			@include sprite($s-zvesda);
			margin: 9px auto 6px;
		}
	}
	.wrap_of_slider {
		.bx-wrapper {
			.bx-controls-direction {
				a {
					margin-top: -40px;
					z-index: 999;
				}
			}
			.bx-prev {
				@include sprite($s-left);
				left: -74px;
			}
			.bx-next {
				@include sprite($s-right);
				right: -74px;
			}
			.bx-pager {
				bottom: -23px;
				a {
					background: none;
					border: 1px solid #1d629d;
					border-radius: 7px;
					height: 13px;
					width: 13px;
					&.active {
						background-color: #1D619D;
					}
				}
			}
		}
		.of_slider {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				div {
					border: 1px solid #A3A3A3;
					width: 292px;
					height: 166px;
					margin: 0 32px 31px 0;
					padding: 0;
					overflow: hidden;
					&:nth-child(3n) {
						margin-right: 0;
					}
					img {
						display: block;
						max-width: 100%;
					}
				}
			}
		}
	}
}
.zag_text_bottom {
	margin: -43px auto 62px;
	width: 640px;
}
.obslughivanie {
	.wrap-service {
		margin-bottom: 41px;
		width: 685px;
	}
	.service {
		img {
			margin: -20px 17px 0 0;
		}
		p {
			font: 14px "robotocondensedregular";
			width: 150px;
		}
	}
	.proceduri {
		color: #000;
		font: 16px "robotocondensedregular";
		list-style: none;
		li {
			line-height: 30px;
			position: relative;
			&:after {
				@include sprite($s-procedure_li);
				content: " ";
				position: absolute;
				top: 10px;
				left: -31px;
			}
		}
	}
	
}
.price_kachectvo {
	.ak_item {
		height: 363px;
	}
	.zag, .price {
		text-align: center;
	}
	.price {
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	.best {
		color: #1D619D;
		font: 36px "robotocondensedregular";
		text-align: center;
		text-transform: uppercase;
	}
}
.kachestvo {
	background: #e2e2e2;
	.center-img {
		width: 46%;
		img {
			display: block;
			max-width: 100%;
		}
	}
	.wrap_item {
		padding-top: 17px;
	}
	.kach_item {
		margin: 0 0 37px 0;
		overflow: hidden;
	}
	.item_text {
		width: 135px;
		.zag {
			margin: 6px 0 0;
		}
		.desc {
			color: #272727;
			font: 14px "robotocondensedregular";
			margin: 0;
		}
	}
	.left {
		text-align: right;
		float: left;
	}
	.right {
		float: right;
		margin: 0 0 0 10px;
		text-align: left;
	}
	.item_img {
		border: 3px solid #1d629d;
		border-radius: 50%;
		float: right;
		height: 70px;
		overflow: hidden;
		width: 70px;
		img {
			display: block;
			max-width: 100%;
		}
	}
	.column {
		width: 28%;
		.item_text {
			width: 150px;
		}
	}
}
.about {
	padding: 0 0 70px;
	.ot_wrap_about {
		margin: 0 0 46px;
	}
	.wrap_about {
		display: table-row;
		.about_img {
			display: table-cell;
			padding: 0 32px 0 0;
			width: 130px;
			vertical-align: middle;
			img {
				display: block;
				margin: 0 auto;
			}
		}
		.about_text {
			color: #1D619D;
			display: table-cell;
			font: 18px "robotocondensedregular";
			text-transform: uppercase;
			vertical-align: middle;
			width: 175px;
		}
	}
	.about-img-large, .about_small_img {
		img {
			max-width: 100%;
		}
	}
	.about_small_img {
		float: left;
		height: 70px;
		margin: 10px 10px 0 0;
		width: 124px;
		&:nth-child(5n) {
			margin-right: 0;
		}
	}
}
.personal {
	background: #e2e2e2;
	padding: 0 0 8px;
	.prsona-item {
		width: 189px;
		height: 188px;
		background-color: #6FAFD5;
		border: 10px solid #FFF;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
		img {
			display: block;
			max-width: 100%;
		}
	}
	.zag, .poloch {
		text-align: center;
	}
	.zag {
		margin: 31px 0 2px;
	}
	.poloch {
		color: #272727;
		font: 11px "robotocondensedregular";
		margin: 0 0 64px;
		text-transform: uppercase;
	}
}
.gender_form {
	.wrap_img {
		margin: -46px 0 0;
		img {
			display: block;
			margin: 0 auto;
		}
	}
}
.preimuchestva {
	padding: 0 0 68px;
	h2 {
		margin-bottom: 69px;
	}
	p {
		color: #1D619D;
		font: 16px "robotocondensedregular";
		padding: 0 0 0 62px;
		text-transform: uppercase;
		position: relative;
		i {
			display: block;
			float: left;
			margin-top: -17px;
			position: absolute;
			top: 50%;
			left: 0;
		}
	}
}
.best-price {
	i {
		@include sprite($s-preimuchestva-1);
	}
}
.alert {
	i {
		@include sprite($s-preimuchestva-2);
	}
}
.nalichie {
	i {
		@include sprite($s-preimuchestva-3);
	}
}
.best-gender {
	i {
		@include sprite($s-preimuchestva-4);
	}
}
.time {
	i {
		@include sprite($s-preimuchestva-5);
	}
}
.key {
	i {
		@include sprite($s-preimuchestva-6);
	}
}
.many {
	i {
		@include sprite($s-preimuchestva-7);
		margin: -11px 0 0 !important;
	}
}
.track {
	i {
		@include sprite($s-preimuchestva-8);
	}
}
.dilivery {
	i {
		@include sprite($s-preimuchestva-9);
	}
}
.otzivi {
	background: #e2e2e2;
	padding: 0 0 43px;
	.wrap-video {
		background: #2a2a2a;
		border: 7px solid #fff;
		box-shadow: 0 2px 4px #000;
		height: 119px;
		margin: 0 0 26px 0;
		width: 223px;
		a {
			display: block;
			height: 100%;
			position: relative;
			text-indent: -9999px;
			font-size: 0;
			img {
				display: block;
				max-width: 100%;
			}
			i {
				@include sprite($s-play);
				display: block;
				left: 50%;
				margin: -18px 0 0 -18px;
				position: absolute;
				top: 50%;
			}
		}
		span {
			display: none;
		}
	}
}
.map {
	height: 432px;
	position: relative;
	width: 100%;
}
.wrap-contact {
	text-align: left;
	background: rgba(92, 141, 180, 0.7);
	height: 432px;
	padding: 90px 0 0 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	z-index: 999;
	p {
		color: #FFF;
		font: 20px "robotocondensedregular";
		margin: 0 0 30px 75px;
		span {
			display: block;
			text-transform: uppercase;
			font: 24px "robotoboldcondensed";
			margin: 0 0 3px;
		}
		a {
			display: block;
			color: #fff;
			font: 20px robotocondensedregular;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.footer {
	// position: absolute;
	// bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 107px;
	.logo_foot {
		margin: 21px 0 0;
	}
	.link {
		color: #1D619D;
		font: 14px/107px "robotocondensedregular";
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.created {
		margin: 31px 0 0;
		text-align: center;
		p {
			margin: 0;
		}
	}
}
.headhesive {
	position: fixed;
	width: 100%;
	transform: translateY(-100%);
	transition: 0.5s;
}
.headhesive--stick {
	transform: translateY(0);
	z-index: 1000;
}
.modal {
	display: none;
	h2 {
		color: #272727;
		font-family: "robotocondensedregular";
		font-size: 22px;
		margin: 0 0 21px;
		overflow: hidden;
		padding: 0.2em 0;
		text-align: center;
		text-transform: uppercase;
		white-space: normal;
	}
	input[type="text"] {
		margin: 0 0 9px;
		padding-left: 50px;
	}
	input[type="submit"] {
		margin: 14px 0 0;
	}
}
.fancybox-overlay {
	background: rgba(0, 0, 0, 0.7);
}
.fancybox-skin {
	background: #fff;
	border: 22px solid #fff;
	border-radius: 0;
	color: #000;
}
.fancybox-close {
	right: -38px;
	top: -38px;
}
.fancybox-nav {
	width: 0;
}
.fancybox-title-float-wrap {
	position: relative;
	margin-bottom: 0;
	right: 0;
	text-align: left;
	.child {
		background: none;
		padding: 0;
		line-height: 1;
		color: #000;
		border-radius: none;
		text-shadow: none;
		font: 14px "robotocondensedregular";
		white-space: normal;
	}
}
.fancybox-prev {
	span {
		@include sprite($s-left_fancy);
		visibility: visible;
		left: -95px;
		margin-top: -42px;
	}
}
.fancybox-next {
	span {
		@include sprite($s-right_fancy);
		visibility: visible;
		right: -95px;
		margin-top: -42px;
	}
}
#privacy_policy {
	width: 320px;
}
.succes {
	color: green;
	font-size: 20px;
	text-align: center;
}
.error_wrap {
	background: rgba(0, 0, 0, 0.85);
	display: none;
	left: 0;
	line-height: 1;
	margin: -22px 0 0 -210px;
	padding: 3px 0;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 200px;
	&:after {
		border: 10px solid transparent;
		border-left: 10px solid rgba(0,0,0,.85);
		bottom: 20px;
		content: "";
		display: block;
		margin-right: -10px;
		margin-top: -10px;
		position: absolute;
		right: -10px;
		top: 50%;
	}
	&.error {
		display: block;
	}
	span {
		color: #fff !important;
		font-size: 11px;
	}
}
.wrapCat {
    height: 745px;
}
.filter-group {
	margin: 0 auto 60px;
    text-align: center;
	.btn.btn-sm.btn-default {
	    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	    font: 14px robotocondensedregular;
	    padding: 10px 20px;
	    width: auto;
	    &.active {
	    	background: #1d629d none repeat scroll 0 0;
		    color: #fff;
		    text-decoration: none;
	    }
	}
}
@import "_media.scss";